@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;900&display=swap');

:root {
    --darker-bg: #1c1c1e;
    --dark-bg: #242427;
    --white: #f8f8f8;
    --grey: #d8d8d8;
    --red:#ed6868;
    --green: #8ece9d;
}

body {
    box-sizing: border-box;
    margin: auto;
    background-color: var(--grey);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: var(--white);
}

main {
    display: flex;
    height: 100vh;
    max-height: -webkit-fill-available;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--darker-bg);
    width: 350px;
    max-width: 90vw;
    height: 650px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);

    /* light mode transitions */
    transition: background-color 0.5s, color 0.5s;
}

.toggle-container {
    height: 40px;
    padding: 15px 0 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-container {
    position: relative; 
    padding: 10px 25px 20px 25px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    mix-blend-mode: hard-light;
}

.display-container::before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    height: 50px;
    width: 100%;
    background: linear-gradient(rgba(128, 128, 128, 1), rgba(128, 128, 128, 0.85),  transparent);
    pointer-events: none;
  
}

.overlay-dark {
    position: absolute;
    top: 0;
    z-index: 99;
    background: linear-gradient(to bottom, var(--darker-bg), rgba(28, 28, 30, 0.9), rgba(28, 28, 30, 0.7), rgba(0, 0, 0, 0));
    width: 300px;
    height: 50px;
    opacity: 1;
    transition: opacity 0.5s;
}

.overlay-light {
    position: absolute;
    top: 0;
    z-index: 99;
    background: linear-gradient(to bottom, var(--white), rgba(248, 248, 248, 0.9), rgba(248, 248, 248, 0.7), rgba(0, 0, 0, 0));
    width: 300px;
    height: 50px;
    opacity: 0;
    transition: opacity 0.5s;
}


.equation {
    font-size: 18px;
    text-align: right;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-wrap: break-word;
    overflow-y: scroll;
    width: 100%;
    max-height: 105px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.result {
    display: flex;
    flex-direction: row-reverse;
    font-weight: 900;
    font-size: 42px;
    text-align: right;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.result::-webkit-scrollbar, .equation::-webkit-scrollbar {
    display: none;
}

.toggle {
    box-sizing: border-box;
    background-color: var(--dark-bg);
    height: 40px;
    width: 70px;
    padding: 5px;
    border-radius: 50px;
    transition: background-color 0.5s, color 0.5s;
}

.toggle-container button {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--white);
    border: none;
    width: 30px;
    height: 30px;
    background-color: var(--darker-bg);
    border-radius: 50%;
    transition: translate 0.5s;
}

.toggle-container button:hover {
    cursor: pointer;
    background-color: var(--white);
    color: var(--darker-bg);
    transition: 0.2s;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 20px));
    grid-template-rows: repeat(5, calc(20% - 20px));
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    justify-content: center;
    align-content: center;
    background-color: var(--dark-bg);
    width: 100%;
    height: 400px;
    border-radius: 15px;

    /* light mode transitions */
    transition: background-color 0.5s, color 0.5s;
}

.button-container button {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--white);
    background-color: var(--darker-bg);
    border-radius: 15px;
    border: var(--darker-bg) 5px solid;


    /* light mode transitions */
    transition: background-color 0.5s, color 0.5s, border 0.5s;
}

.button-container button:hover {
    cursor: pointer;
    border: var(--darker-bg) 2px solid;
    background-color: var(--white);
    color: var(--darker-bg);
    transition: 0.2s;
}

.button-container button.red {
    color: var(--red);
}

.button-container button.red:hover {
    background-color: var(--red);
    color: var(--white);
}

.button-container button.green {
    color: var(--green);
}

.button-container button.green:hover {
    background-color: var(--green);
    color: var(--white);
}

/* light mode styling */

.container.light {
    background-color: var(--white);
    color: var(--darker-bg);
}

.light .button-container {
    background-color: #eaeaea;
}

.light .button-container button {
    background-color: var(--white);
    color: var(--darker-bg);
    border: var(--white) 5px solid;
}

.light .button-container button:hover {
    border: var(--white) 2px solid;
    background-color: var(--darker-bg);
    color: var(--white);
}

.light .toggle {
    background-color: #eaeaea;
}

.light .toggle-container button {
    color: var(--darker-bg);
    background-color: var(--white);
}

.light .toggle-container button:hover {
    background-color: var(--darker-bg);
    color: var(--white);
}

.light .button-container button.red {
    color: var(--red);
}

.light .button-container button.red:hover {
    background-color: var(--red);
}

.light .button-container button.green {
    color: var(--green);
}

.light .button-container button.green:hover {
    background-color: var(--green);
}

.light .overlay {
    background: linear-gradient(to bottom, var(--white), rgba(248, 248, 248, 0.9), rgba(248, 248, 248, 0.7), rgba(0, 0, 0, 0));
}